<%= render 'layouts/divone' %>
<%= render 'layouts/divtwo' %>
<%= render 'layouts/divthree' %>
<%= render 'layouts/divfour' %>

<div class="image-right" id="homeimage">
  <p>
    <% 8.times do %>
      <%= render html: "&emsp;" %>
    <% end %>
  </p>
  <div class="image-bottom">

  </div>
</div>
