<div class="container">
<div class="col-md-8">
  <h3>Create your perfect party with a unique gift<h3>
  <h3>Make a compilation of wonderful memories, and make them</br>
      the centre of everyone's attention</h3>
  <h3>Compose a few rhymes or a short story about friends or loved ones<h3>
  <h3>Make an impression with a 3D poster that will stand out<h3>
  <h3>Design a collage about your last travel and watch your memories</br>
      come to life</h3>
  <h3>Browse below or click products</h3>
</div>
<div class="col-md-4">
  <span id="olgasimage">
  </span>
  <span>
    <p>&ensp;&ensp;&ensp;&ensp;</p>
  </span>
  <span>
    <div class="col-md-6" id="runningphoto">


    </div>
    <div class="col-md-6">
      <%= link_to "Russian Info", info_path, class: "btn btn-lg btn-primary", id: "infobutton" %>
    </div>
  </span>
</div>
</div>
<div>
  <%= render 'layouts/divone' %>
  <%= render 'layouts/divtwo' %>
  <%= render 'layouts/divthree' %>
  <%= render 'layouts/divfour' %>
  <%= render 'layouts/divfive' %>


</div>

<%= render 'shared/comment_form' %>
<div>
    <% if @comments.any? %>
      <h3>Comments (<%= @comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
      </ol>

    <% end %>
  </div>
