<div id="homepagebackground">
  <div class="container" id="homepagedivs">
    <%= render 'layouts/divone' %>
    <%= render 'layouts/divtwo' %>
    <%= render 'layouts/divthree' %>
    <%= render 'layouts/divfour' %>
    <%= render 'layouts/divfive' %>
  </div>

</div>
