
<h3>Create your perfect party with our range of creative art products</h3>

<div class="container" id="productsdiv">
  <div class="col-md-3" id="productsdiv">
    <%= render 'layouts/divone' %>
  </div>
  <div class="col-md-3">
    <%= render 'layouts/divtwo' %>
  </div>
</div>
<div class="container" id="productsdiv">
  <div class="col-md-3">
    <%= render 'layouts/divthree' %>
  </div>
  <div class="col-md-3">
    <%= render 'layouts/divfour' %>
  </div>
</div>

<div class="container" id="productsdiv">
  <div class="col-md-3">
    <%= render 'layouts/divfive' %>
  </div>
</div>
